


#article{
    display: flex;
    flex-direction: column;
    width: 200%;
}



.hipervinculos{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    background-color: blanchedalmond;
    padding: 20px;
    text-align: center;
    font-size: xx-large;
    font-family: cursive;
    color: red;
}

.nivelInical,.nivelPrimaria,.nivelSecundario,.Universidad,.cursoDH,.udemy{
    border: 1px solid;
}
.nivelInical{
    background-color: darksalmon;
}
.nivelPrimaria{
    background-color: darksalmon;
}
.nivelSecundario{
    background-color: darksalmon;
}
.Universidad{
    background-color: darksalmon;
}

.cursoDH{
    background-color: darksalmon;
}
.udemy{
    background-color: darksalmon;
}

@media(max-width:700px){
   h2,h3{
    font-size: medium;
   }
    .hipervinculos{
        display: flex;
        justify-content: flex-start;
        align-content: flex-start;
        background-color: blanchedalmond;
        padding: 20px;
        text-align: center;
        font-size: medium;
        font-family: cursive;
        color: red;
    }
    article{
        display: flex;
        flex-direction: column;
    }
    aside{
        display: flex;
        flex-direction: column;
    }
}
