*{
    margin: 0;
    padding: 0;
}

#header{
    display: flex;
    justify-content: space-between;
   
    padding: 30px;
    background-color: blanchedalmond;
}

img{
    border-radius: 50%;
}

#nombre{
    text-align: center;
    margin: 100px;
    margin: auto;
    font-style: italic;
}

h3,h1{
    text-decoration: underline;
}

.informacion{
    font-size: xx-large;
}
.datos{
    display: flex;
    flex-direction: column;
    background-color: beige;
    align-items: center;
}

.hipervinculos{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    background-color: blanchedalmond;
    padding: 20px;
    text-align: center;
    font-size: larger;
    font-family: cursive;
    color: red;
}
.estudios{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    background-color: blanchedalmond;
    padding: 30px;
    text-align: center;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    color: red;
}
.ul{
    padding: inherit;
}

.texto{
    font-size: larger;
    font-family: serif;
    border: 5px solid;
}