<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/experienciaLaboral.css">
    <title>experiencia laboral</title>
</head>
<body>
   <header id="header">
        <h1>Mi experiencia laboral</h1>
   </header>

   <article id="article">
        <div class="pentos">
            <img src="../styles/img/cerveza.jpg" alt="cerveza">
            <h3>1 PENTOS BAR</h3>
            <h5>Fecha inicio : 1/11/2019</h5>
            <h5>Fecha fin : 15/01/2020</h5>
            <h6>Puesto : Bartender</h6>
        </div>
        <div class="appstract">
            <img src="../styles/img/computadora.png" alt="computadora">
            <h3>2 APPSTRACT</h3>
            <h5>Fecha inicio : 1/08/2021</h5>
            <h5>Fecha fin : Sigue...</h5>
            <h6>Puesto : Tester QA</h6>
        </div>
   </article>
</body>
</html>