<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <title>curriculum</title>
</head>
<body>
    <header id="header">
        <div id="imagen">
            <img src="../styles/img/perfil.jpeg" alt="imagen" height="80%" width="50%">
        </div>

        <div id="nombre">
            <h1>Lucas Thomas Cruz</h1>
        </div>
    </header>

    <section class="datos">
        <h3>
            <strong>Informacion</strong>
        </h3>
        <div class="texto">
            <p>Email : thomascruz699@gmail.com</p>
            <p>Telefono : 1138846881</p>
            <p>Domicilio : Jose Maria casullo 686, Moron</p>
            <ul>
                <li>Carnet de conducior</li>
                <li>Movilidad propia</li>
                <li>Full time</li>
            </ul>
        </div>
        
    </section>
    
    <aside>
        <div class="hipervinculos">
            <ul>
                <li><a href="experienciaLaboral.html">Experiencia laboral</a></li>
                
            </ul>
       </div>
       <ul class="ul">
        <div class="estudios">
            <li><a href="estudios.html">Estudios</a></li>
        </div>
       </ul>
    </aside>
    
    

</body>
</html>