
#header{
    display: flex;
    justify-content: center;
    background-color: gainsboro;
    text-align: center;
    border-radius: 20px;
    padding: 1px;
    margin: 10px;
}

#article,#aside{
    display: flex;
    flex-direction: column;
}
body{
    display: inline-flex;
}

.hipervinculos{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    background-color: blanchedalmond;
    padding: 20px;
    text-align: center;
    font-size: xx-large;
    font-family: cursive;
    color: red;
}

.nivelInical,.nivelPrimaria,.nivelSecundario,.Universidad,.cursoDH,.udemy{
    border: 1px solid;
}
.nivelInical{
    background-color: aliceblue;
}
.nivelPrimaria{
    background-color: beige;
}
.nivelSecundario{
    background-color: darksalmon;
}
.Universidad{
    background-color: yellow;
}

.cursoDH{
    background-color: cornflowerblue;
}
.udemy{
    background-color: rgb(241, 198, 198);
}

@media(max-width:600px){
   h2,h3{
    font-size: medium;
   }
    .hipervinculos{
        display: flex;
        justify-content: flex-start;
        align-content: flex-start;
        background-color: blanchedalmond;
        padding: 20px;
        text-align: center;
        font-size: medium;
        font-family: cursive;
        color: red;
    }
}
